label {
    font-size:  30px;    /* 文字サイズ指定 */
}
input {
    font-size:  30px;    /* 文字サイズ指定 */
}
textarea {
    font-size:  30px;    /* 文字サイズ指定 */
}
select {
    font-size:  30px;    /* 文字サイズ指定 */
}
